<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LogIn</servlet-name>
        <servlet-class>LogIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogIn_Servlet</servlet-name>
        <servlet-class>com.webportal.LogIn_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserHome_Servlet</servlet-name>
        <servlet-class>com.webportal.UserHome_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>invoiceDetail</servlet-name>
        <servlet-class>com.webportal.controller.invoiceDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PwdForgetServlet</servlet-name>
        <servlet-class>com.webportal.controller.PwdForgetServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserRegistServlet</servlet-name>
        <servlet-class>com.webportal.controller.UserRegistServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AESCrypt</servlet-name>
        <servlet-class>com.webportal.models.AESCrypt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmailEntry</servlet-name>
        <servlet-class>com.webportal.pwd.EmailEntry</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PwdForget</servlet-name>
        <servlet-class>com.webportal.pwd.PwdForget</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserRegister</servlet-name>
        <servlet-class>com.webportal.register.UserRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserEdit</servlet-name>
        <servlet-class>com.webportal.controller.UserEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PwdReset</servlet-name>
        <servlet-class>com.webportal.models.PwdReset</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogIn</servlet-name>
        <url-pattern>/LogIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogIn_Servlet</servlet-name>
        <url-pattern>/LogIn_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserHome_Servlet</servlet-name>
        <url-pattern>/UserHome_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PwdReset</servlet-name>
        <url-pattern>/PwdReset</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
