/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03/05/2016, 9:46:18 PM
    Author     : Nick
*/
/*Desktop Responsive*/
@media
    only screen and
    (min-width: 1025px) {
        #vendorTitle {
            font-size:4em;
            color: #956F00;
        }
        #vendorDesc {
            font-size:1.75em;
            color: #999;
        }
        #inputTitle {
            font-size:22px;
        }
        .rTxt {
            font-size:18px;
        }
        .btnTxt {
            font-size:18px;
        }
}
/*Tablet Responsive*/
@media
    only screen and
    (min-width: 768px) and (max-width: 1024px)  {
        #vendorTitle {
            font-size:4em;
            color: #956F00;
        }
        #vendorDesc {
            font-size:1.75em;
            color: #999;
        }
        #inputTitle {
            font-size:20px;
        }
        .rTxt {
            font-size:16px;
        }
        .btnTxt {
            font-size:18px;
        }
}
/*Mobile Responsive*/
@media
    only screen and
    (max-width: 767px) {
        #vendorTitle {
            font-size:4em;
            color: #956F00;
        }
        #vendorDesc {
            font-size:1.75em;
            color: #999;
        }
        #inputTitle {
            font-size:20px;
        }
        .rTxt {
            font-size:12px;
        }
        .btnTxt {
            font-size:14px;
        }
}
#vendorTitle {
    margin-bottom:0px;
}
#vendorDesc {
    margin-top:0px;
}
#loginbtn {
    
}
#forgotpwdbtn {
    
}
#logincontainer {
    padding:10px;
    display:inline-block;
    margin:auto;
    border:2px solid black;
}
#loginpage {
    text-align:center;
}
.inputdiv {
    margin-top:10px;
    margin-bottom: 10px;
}
.btnTxt {
    padding:10px;
}
#errorLogIn {
    color:red;
    width:50px;
}
